<launch>
  <arg name="visualize" default="true"/>

  <group ns="camera">
    <node pkg="nodelet" type="nodelet" name="image_stream_to_heatmap"
          args="load image_stream_to_heatmap/process_stream camera_nodelet_manager">
      <remap from="camera" to="image_raw" />
    </node>

    <node if="$(arg visualize)" name="heatmap_image_view" pkg="image_view" type="image_view">
      <remap from="image" to="/camera/heatmap/image_raw" />
    </node>
  </group>

</launch>
